* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.7rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button {
    background-color: #4CAF50;
}

#register-button {
    background-color: #56a8ce;
}

p {
    cursor: default;
    font-size: 0.9rem;
    color: #333;
    display: block;
    text-align: center;
    margin-top: 1rem;
}
